* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
}

header {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(28, 28, 29);
  color:rgb(241, 247, 253);
  padding: 10px;
}

.link {
  color:rgb(241, 247, 253);
  text-decoration: none;
}

.container {
  padding: 20px;
}

h1, h2, h3, p {
  padding: 10px 0px;
}

.center {
  margin: auto;
  width: fit-content;
}

.play-btn {
  padding: 10px;
  background-color: rgb(28, 28, 29);
  border-radius: 7px;
  border-width: 0;
}

button {
  width: 100px;
  padding: 10px;
  font-size: medium;
  border-radius: 7px;
  border-width: 0;
  color: rgb(241, 247, 253);
  transition: .5s;
}

button:hover {
  width: 110px;
  font-weight: bold;
  cursor: pointer;
}

.btn-green {
  background-color: rgb(55, 167, 55);
}

.btn-red {
  background-color: rgb(211, 50, 50);
}